*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
keystore.properties
app/keystore-tktpl-proj.jks
/.idea/dataSources/f8f6d55d-7608-4802-8ab7-ce21b07169e5.xml
